---
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import BlogSection from "@/partials/BlogSection.astro";
import Breadcrumbs from "@/layouts/components/Breadcrumbs.astro";
import { getEntry } from "astro:content";
import { sanityClient } from "sanity:client";

const BLOG_FOLDER = "blog";

const postsQuery = `*[_type == "post" && isLive == true] | order(date desc) {
  title,
  "slug": slug.current,
  date,
  excerpt,
  "image": image.asset->url,
  "body": body,
  "author": author->name,
  isLive
}`; 
//comment

const posts = await sanityClient.fetch(postsQuery);
// const totalPages: number = Math.ceil(posts.length / config.settings.pagination);

const postIndex = await getEntry("sections", "blog");
const headingContent = postIndex?.data.hero;

---

<Base
  title={postIndex?.data.title}
  meta_title={postIndex?.data.meta_title || postIndex?.data.title}
  image={postIndex?.data.image}
  description={postIndex?.data.description}>
  
  <!-- Breadcrumbs -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <Breadcrumbs className="mt-4" />
        </div>
      </div>
    </div>
  </section>

  <BlogSection
    largeHeading={true}
    content={headingContent}
    visiblePosts={100}
    showHeader={true}
    posts={posts}
  />
</Base>
