---
import Disqus from "@/helpers/Disqus";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, slugify } from "@/lib/utils/textConverter";
import ImageMod from "./components/ImageMod.astro";
import BlogSection from "./partials/BlogSection.astro";
import CallToAction from "./partials/CallToAction.astro";
import Breadcrumbs from "./components/Breadcrumbs.astro";
import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";
import { urlForImage } from "@/lib/utils/sanityImage";
import { DynamicCTA } from "../components/DynamicCTA";
import PortableTextImage from "../components/common/PortableTextImage.astro";

const { post } = Astro.props;
const { title, author, image, date, body, slug, ctaSection } = post;

// Debug logs
const imageBlocks = body.filter((block: any) => block._type === 'image');

// Define components for PortableText
const components = {
  type: {
    image: PortableTextImage,
  }
};

// Fetch related posts
const relatedPosts = await sanityClient.fetch(`
  *[_type == "post" && slug.current != $slug && isLive == true] | order(date desc)[0...3] {
    title,
    "slug": slug.current,
    date,
    excerpt,
    "image": image.asset->url,
    "imageAlt": image.alt,
    "author": author->name,
    isLive
  }
`, { slug });
---

<!-- Breadcrumbs -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <Breadcrumbs className="mt-4" />
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row justify-center">
      <div class="text-center lg:col-9" data-aos="fade-up-sm">
        {title && <h1 class="h2 mb-4">{title}</h1>}
        {post.excerpt && <p class="mb-6 text-lg">{post.excerpt}</p>}
        <ul class="mb-4 flex items-center justify-center gap-4">
          {author && (
            <li class="text-lg/[inherit]">
              <div
                class="flex gap-2 font-medium">
                {author.image && (
                  <img
                    class="h-8 w-8"
                    src={author.image}
                    alt={author.name}
                  />
                )}
                {humanize(author.name)}
              </div>
            </li>
          )}
          <li class="flex items-center gap-x-2">
            <img
              class="h-8 w-8"
              src="/images/icons/png/date.png"
              alt="date icon"
            />
            <p class="inline-block font-medium text-tertiary">
              {dateFormat(date, "iiii, MMM dd, yyyy")}
            </p>
          </li>
        </ul>
      </div>
      <div
        class="col-12 pt-20 md:pt-32"
        data-aos="fade-up-sm"
        data-aos-delay="200">
        {
          image && (
            <div class="mb-10">
              <div class="aspect-video w-full overflow-hidden rounded-3xl">
                <img
                  src={image}
                  height={500}
                  width={1200}
                  alt={post.imageAlt || title}
                  class="h-full w-full object-contain"
                />
              </div>
            </div>
          )
        }
      </div>
      <article class="pb-10 lg:col-8" data-aos="fade-up-sm">
        <div class="content">
          <PortableText value={body} components={components} />
        </div>
        <!-- <Disqus className="mt-20" client:load /> -->
      </article>
    </div>
  </div>
  {ctaSection && (
    <DynamicCTA client:visible ctaContent={ctaSection} />
  )}
  <!-- Related posts -->
  <BlogSection visiblePosts={3} posts={relatedPosts} />
  
</section>
